<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body bgcolor="LightYellow">
    {% if output %}
    <h1  style="background-color: rgb(96, 187, 60);">Match Found...</h1><br>
    <h2>Regex In Statement : {{ output }}</h1>
    <h2>Total Occurances : {{ count }} </h1>
    {% else %}
    <h1 style="background-color: rgb(206, 49, 49);">No Match Found... Please try with another expression.</h1>
    {% endif %}
    
</body>
</html>